

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
  font-family: sans-serif;

  /*text-align: center;*/
}

header {
  background-color: rgba(255,0,0,0.5);
  border: 2px solid black;
  padding: 1rem 0;
  border: 2px solid white;
}

section {
  background-color: rgba(200,0,255,0.5);
  float: left;
  height: 150px;
  border: 2px solid white;
  width: 70%;

}

aside {
  background-color: rgba(0,0,255,0.5);
  float: right;
  height: 150px;
  border: 2px solid white;
  width: 30%;
}

footer {
  background-color: rgba(100,100,100, 0.5);
  padding: 1rem 0;
  margin-top: 10px;
  border: 2px solid white;
  clear: both;
}
