*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
  font-family: sans-serif;
}

header {
  background-color: rgba(255,0,0,0.5);
  padding: 1rem 0;
  border: 2px solid white;
  text-align: center;
}

section {
  background-color: rgba(200,0,255,0.5);
  float: left;
  height: 150px;
  border: 2px solid white;
  width: 50%;
  padding: 10px;
  text-align: center;
}

aside {
  background-color: rgba(0,200,255,0.5);
  float: left;
  height: 150px;
  border: 2px solid white;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.div1,.div2,.div3 {
  background-color: rgba(0,0,255,0.5);
  float: left;
  height: 100px;
  /*border: 2px solid white;*/
  width: 33%;
  margin-right: 1px;
  padding: 10px;
  text-align: center;
}


footer {
  background-color: rgba(100,100,100, 0.5);
  padding: 1rem 0;
  margin-top: 10px;
  border: 2px solid white;
  clear: both;
  padding: 10px;
  text-align: center;
}

h1,h2 {
  vertical-align: middle;
}
